<div id="content">
	
	<div class="wrapper-content-main">
	
		<div id="main" class="layout-column-main">
		
			
<p class="title-s title-widget">Featured Posts</p>

<div id="cb-slideshow" class="flexslider">
	
	<ul class="cb-slides">
		
				
		<li class="cb-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
			
			<div class="post-cover">
				<a href="https://demo.cbthemes.com/foundation/consequatur-aut-perferendis-doloribus/"><img src="https://demo.cbthemes.com/foundation/wp-content/uploads/sites/6/2013/10/photodune-3538186-library-s1-510x300.jpg" alt="Consequatur aut perferendis doloribus" class="Thumbnail thumbnail thumb-cb-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->
			
			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.cbthemes.com/foundation/consequatur-aut-perferendis-doloribus/">User of a Featured Post</a></h2>
					<p class="post-excerpt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->
			
		</li><!-- .slide -->
				
		<li class="cb-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
			
			<div class="post-cover">
				<a href="https://demo.cbthemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio-dignissimos/"><img src="https://demo.cbthemes.com/foundation/wp-content/uploads/sites/6/2013/10/photodune-2545842-after-school-m-510x300.jpg" alt="At vero eos et accusamus et iusto odio dignissimos" class="Thumbnail thumbnail thumb-cb-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->
			
			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.cbthemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio-dignissimos/">At vero eos et accusamus et iusto odio dignissimos</a></h2>
					<p class="post-excerpt">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->
			
		</li><!-- .slide -->
				
		<li class="cb-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
			
			<div class="post-cover">
				<a href="https://demo.cbthemes.com/foundation/neque-porro-quisquam-est/"><img src="https://demo.cbthemes.com/foundation/wp-content/uploads/sites/6/2013/10/photodune-2986280-lake-by-the-binnenhof-m-510x300.jpg" alt="Neque porro quisquam est" class="Thumbnail thumbnail thumb-cb-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->
			
			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.cbthemes.com/foundation/neque-porro-quisquam-est/">Neque porro quisquam est</a></h2>
					<p class="post-excerpt">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->
			
		</li><!-- .slide -->
				
		<li class="cb-slide flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
			
			<div class="post-cover">
				<a href="https://demo.cbthemes.com/foundation/nemo-enim-ipsam-voluptatem-quia-voluptas/"><img src="https://demo.cbthemes.com/foundation/wp-content/uploads/sites/6/2013/10/photodune-767958-smithsonian-institution-m1-510x300.jpg" alt="Nemo enim ipsam voluptatem quia voluptas" class="Thumbnail thumbnail thumb-cb-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->
			
			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.cbthemes.com/foundation/nemo-enim-ipsam-voluptatem-quia-voluptas/">Nemo enim ipsam voluptatem quia voluptas</a></h2>
					<p class="post-excerpt">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->
			
		</li><!-- .slide -->
				
	</ul><!-- .cb-slides -->
	
	<div class="cleaner">&nbsp;</div>
	
<ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li><li><a href="#" class="flex-active">4</a></li></ol></div><!-- #cb-slideshow -->

<script type="text/javascript">
jQuery(document).ready(function() {
	
	jQuery("#cb-slideshow").flexslider({
        selector: ".cb-slides > .cb-slide",
		animationLoop: true,
        initDelay: 1000,
		smoothHeight: false,
				slideshow: true,
		slideshowSpeed: 5000,
				pauseOnAction: true,
        controlNav: true,
        directionNav: false,
		useCSS: true,
		touch: false,
        animationSpeed: 500
    });	 

});
</script>

			<div class="widget recent-posts" id="cb-recent-posts-2"><p class="title-s title-widget">From the Blog</p><ul class="cb-posts cb-posts cb-posts-widget">
			<li class="cb-post">
									
				<div class="post-cover"><div class="post-cover-wrapper"><a href="https://demo.cbthemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio/" title="At vero eos et accusamus et iusto odio"><img src="https://demo.cbthemes.com/foundation/wp-content/uploads/sites/6/2013/12/timelapse-video-100x60.jpg" alt="At vero eos et accusamus et iusto odio" class="Thumbnail thumbnail thumb-loop-small " width="100" height="60"></a></div><!-- .post-cover-wrapper --></div><!-- .post-cover -->		
				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.cbthemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio/" title="Permalink to At vero eos et accusamus et iusto odio">At vero eos et accusamus et iusto odio</a></h2>
										<p class="post-meta"><time datetime="2013-12-27" pubdate="">December 27, 2013</time>					<span class="category"></span></p>
										<p class="post-excerpt">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit...</p>				</div><!-- .post-content -->
			
				<div class="cleaner">&nbsp;</div>
										
			</li><!-- .cb-post -->
			
			<li class="cb-post">
									
				<div class="post-cover"><div class="post-cover-wrapper"><a href="https://demo.cbthemes.com/foundation/quis-nostrum-exercitationem-ullam-corporis/" title="Quis nostrum exercitationem ullam corporis"><img src="https://demo.cbthemes.com/foundation/wp-content/uploads/sites/6/2013/12/maxresdefault-100x60.jpg" alt="Quis nostrum exercitationem ullam corporis" class="Thumbnail thumbnail thumb-loop-small " width="100" height="60"></a></div><!-- .post-cover-wrapper --></div><!-- .post-cover -->		
				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.cbthemes.com/foundation/quis-nostrum-exercitationem-ullam-corporis/" title="Permalink to Quis nostrum exercitationem ullam corporis">Quis nostrum exercitationem ullam corporis</a></h2>
										<p class="post-meta"><time datetime="2013-12-27" pubdate="">December 27, 2013</time>					<span class="category"></span></p>
										<p class="post-excerpt">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro...</p>				</div><!-- .post-content -->
			
				<div class="cleaner">&nbsp;</div>
										
			</li><!-- .cb-post -->
			</ul><!-- .cb-posts --><div class="cleaner">&nbsp;</div></div><div class="widget cb-call-to-action" id="cb-widget-call2action-2">
		<div class="cb-call2action cb-call2action-list">
			<span class="call2action-span cb-call2action-main">Talk to us about studying at University</span>			<span class="call2action-span cb-call2action-secondary">0-800-123456 or <a href="mailto:apply@user.com">apply@user.com</a></span>		</div><!-- .cb-call2action .cb-call2action-list -->

		<div class="cleaner">&nbsp;</div></div><div class="widget cb-special-posts" id="cb-featured-posts-2"><p class="title-s title-widget">Latest Video</p><ul class="cb-featured-posts">
			<li class="cb-featured-post featured-post-video">
			
				<div class="post-cover"><iframe width="510" height="300" src="//www.youtube-nocookie.com/embed/rPmGtZAUxNs?rel=0" frameborder="0" allowfullscreen=""></iframe></div><!-- .post-cover -->				
				<div class="post-content">
				
					<h2 class="title-l title-post"><a href="https://demo.cbthemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio/" title="At vero eos et accusamus et iusto odio">At vero eos et accusamus et iusto odio</a></h2>
					<p class="post-excerpt">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit...</p>					
										
				</div><!-- .post-content -->
			
			</li><!-- .cb-featured-post .featured-post-video -->

			</ul><!-- .cb-featured-posts -->		
		<div class="cleaner">&nbsp;</div></div>			
		</div><!-- #main .layout-column-main -->
		
		<aside class="layout-column-aside">
		
			<div class="widget recent-events" id="cb-recent-events-2"><p class="title-s title-widget">Upcoming Events</p><ul class="cb-posts cb-events cb-events-widget">
			<li class="cb-post cb-event">
			
								<div class="post-cover">
					
					<div class="post-cover-wrapper">
					
						<span class="event-date">25</span>
						<span class="event-month">Nov</span>
						
					</div><!-- .post-cover-wrapper -->
					
				</div><!-- .post-cover -->
								
				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.cbthemes.com/foundation/event/phasellus-viverra-nulla-ut-metus/" title="Permalink to Phasellus viverra nulla ut metus">Phasellus viverra nulla ut metus</a></h2>
					<p class="post-excerpt">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede...</p>				</div><!-- .post-excerpt -->
			
				<div class="cleaner">&nbsp;</div>
				
			</li><!-- .cb-post .cb-event -->

			
			<li class="cb-post cb-event">
			
								<div class="post-cover">
					
					<div class="post-cover-wrapper">
					
						<span class="event-date">31</span>
						<span class="event-month">Dec</span>
						
					</div><!-- .post-cover-wrapper -->
					
				</div><!-- .post-cover -->
								
				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.cbthemes.com/foundation/event/sed-ut-perspiciatis-unde-omnis-iste/" title="Permalink to Sed ut perspiciatis unde omnis iste">Sed ut perspiciatis unde omnis iste</a></h2>
					<p class="post-excerpt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi...</p>				</div><!-- .post-excerpt -->
			
				<div class="cleaner">&nbsp;</div>
				
			</li><!-- .cb-post .cb-event -->

			</ul><!-- .cb-posts --><div class="cleaner">&nbsp;</div></div><div class="widget cb-call-to-action" id="cb-widget-call2action-3">
		<div class="cb-call2action cb-call2action-list" style="background-color: #6da67a;">
			<span class="call2action-span cb-call2action-main">Apply today!</span>			<span class="call2action-span cb-call2action-secondary">0-800-123456 or <a href="mailto:apply@user.com">apply@user.com</a></span>		</div><!-- .cb-call2action .cb-call2action-list -->

		<div class="cleaner">&nbsp;</div></div><div class="widget cb-call-to-action" id="cb-widget-call2action-4">
		<div class="cb-call2action cb-call2action-list" style="background-color: #4a4857;">
			<span class="call2action-span cb-call2action-main">Available Courses</span>			<span class="call2action-span cb-call2action-secondary">Find out more about <a href="https://demo.cbthemes.com/foundation/courses/">our courses</a></span>		</div><!-- .cb-call2action .cb-call2action-list -->

		<div class="cleaner">&nbsp;</div></div>			
			<div class="cleaner">&nbsp;</div>

		</aside><!-- .layout-column-aside -->

		<div class="cleaner">&nbsp;</div>
	
	</div><!-- .wrapper-content-main -->


			
			<div class="wrapper-footer-main">
			
				<footer class="site-footer">
				
					<div id="footer-main">
					
						<div class="wrapper-footer">
						
							<div class="layout-column-main cb-column-1">
							
								<div class="widget widget_text" id="text-2"><p class="title-widget">Text Widget</p>			<div class="textwidget"><p>Foundation Theme has 2 additional widget-ready areas in the Footer.</p>
<p>You can choose to disable this block and not display any widgets.</p>
<p>Here you can add any widget you like, for user a widget containing your contact details, a map, custom menus, etc.</p>
</div>
		<div class="cleaner">&nbsp;</div></div>								
								<div class="cleaner">&nbsp;</div>
							
							</div><!-- .cb-column .cb-column-1 -->
				
							<div class="layout-column-aside cb-column-2">
							
								<div class="widget widget_nav_menu" id="nav_menu-2"><p class="title-widget">Menu Widget</p><div class="menu-secondary-container"><ul id="menu-secondary" class="menu"><li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="https://demo.cbthemes.com/foundation/admissions/">Admissions</a></li>
<li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="https://demo.cbthemes.com/foundation/current-alumni/">Current Alumni</a></li>
<li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"><a href="https://demo.cbthemes.com/foundation/future-students/">Future Students</a></li>
<li id="menu-item-300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a href="https://demo.cbthemes.com/foundation/current-students/">Current Students</a></li>
</ul></div><div class="cleaner">&nbsp;</div></div>								
								<div class="cleaner">&nbsp;</div>
							
							</div><!-- .cb-column .cb-column-2 -->
						
							<div class="cleaner">&nbsp;</div>
						
						</div><!-- .wrapper .wrapper-footer -->
					
					</div><!-- #footer-main -->
			
				</footer><!-- .site-footer -->
				
			</div><!-- .wrapper-footer-main -->
			
				
		</div>