<!DOCTYPE html>
  <html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{root}}/css/app/styles.css">

     <link rel='stylesheet' id='foundation-style-css'  href='https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/style.css?ver=4.9.8' type='text/css' media='all' />
  


<script src="../bower_components/jquery-migrate/jquery-migrate.min.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{root}}/js/dist.js"></script>
</head>

<body>
  <div class="container">
   {{{body}}}

  </div>



<script type="text/javascript">
jQuery(document).ready(function() {
	
	jQuery("#cb-slideshow").flexslider({
        selector: ".cb-slides > .cb-slide",
		animationLoop: true,
        initDelay: 1000,
		smoothHeight: false,
				slideshow: true,
		slideshowSpeed: 5000,
				pauseOnAction: true,
        controlNav: true,
        directionNav: false,
		useCSS: true,
		touch: false,
        animationSpeed: 500
    });	 

});
</script>
<script type='text/javascript'>
/* <![CDATA[ */
var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"https:\/\/demo.academiathemes.com\/foundation\/wp-includes\/js\/thickbox\/loadingAnimation.gif"};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-includes/js/thickbox/thickbox.js?ver=3.1-20121105'></script>
<script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-includes/js/wp-embed.min.js?ver=4.9.8'></script>
</body>
</html>
