<body data-rsssl="1" class="home blog" data-gr-c-s-loaded="true">

<div id="container">

	<div class="wrapper wrapper-main">

		<header role="banner" class="site-header">

			<div id="logo" itemscope="" itemtype="http://schema.org/Organization">
				<meta itemprop="name" content="Classhub">
								<a itemprop="url" href="https://demo.academiathemes.com/foundation" title="Just another AcademiaThemes Demo Sites site"><img itemprop="logo" src="https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/images/logo.png" alt="Foundation Theme Demo" class="logo-img"></a>
			</div><!-- #logo -->

			<div class="wrapper-header">

				<div class="wrapper-menu">

			        			        <div class="navbar-header"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><div class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;"><ul class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-272"><a href="https://demo.academiathemes.com/foundation/" role="menuitem">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-283 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="https://demo.academiathemes.com/foundation/academy/">About Academy</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="https://demo.academiathemes.com/foundation/academy/choose-academy/" role="menuitem" tabindex="-1">Why Choose Academy</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286"><a href="https://demo.academiathemes.com/foundation/academy/mission-profile/" role="menuitem" tabindex="-1">Mission and Profile</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="https://demo.academiathemes.com/foundation/academy/core-curriculum/" role="menuitem" tabindex="-1">Core Curriculum</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a href="https://demo.academiathemes.com/foundation/academy/community-engagement/" role="menuitem" tabindex="-1">Community engagement</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-292 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="https://demo.academiathemes.com/foundation/blog-archives/">Blog Archives</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-277"><a href="https://demo.academiathemes.com/foundation/category/news-announcements/" role="menuitem" tabindex="-1">News &amp; Announcements</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-279"><a href="https://demo.academiathemes.com/foundation/category/sample-category/" role="menuitem" tabindex="-1">Sample Category</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-278"><a href="https://demo.academiathemes.com/foundation/category/videos/" role="menuitem" tabindex="-1">Videos</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-293 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="https://demo.academiathemes.com/foundation/courses/">Courses</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-274"><a href="https://demo.academiathemes.com/foundation/course-type/postgraduate/" role="menuitem" tabindex="-1">Postgraduate</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-275"><a href="https://demo.academiathemes.com/foundation/course-type/short-courses/" role="menuitem" tabindex="-1">Short Courses</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-276"><a href="https://demo.academiathemes.com/foundation/course-type/undergraduate/" role="menuitem" tabindex="-1">Undergraduate</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="https://demo.academiathemes.com/foundation/staff-directory/" role="menuitem">Staff Directory</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="https://demo.academiathemes.com/foundation/testimonials/" role="menuitem">Testimonials</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-273 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Events</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="https://demo.academiathemes.com/foundation/events-future/" role="menuitem" tabindex="-1">Events: Future</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="https://demo.academiathemes.com/foundation/events-past-2/" role="menuitem" tabindex="-1">Events: Past</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="https://demo.academiathemes.com/foundation/photo-gallery/" role="menuitem">Photo Gallery</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-317 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Page Templates</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://demo.academiathemes.com/foundation/blog-archives/" role="menuitem" tabindex="-1">Blog Archives</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://demo.academiathemes.com/foundation/courses/" role="menuitem" tabindex="-1">Courses</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="https://demo.academiathemes.com/foundation/events-future/" role="menuitem" tabindex="-1">Events: Future</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-327"><a href="https://demo.academiathemes.com/foundation/full-width-page/" role="menuitem" tabindex="-1">Full Width Page</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a href="https://demo.academiathemes.com/foundation/academy/" role="menuitem" tabindex="-1">Page with Sub-Pages</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="https://demo.academiathemes.com/foundation/photo-gallery/" role="menuitem" tabindex="-1">Photo Gallery</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="https://demo.academiathemes.com/foundation/staff-directory/" role="menuitem" tabindex="-1">Staff Directory</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-323"><a href="https://demo.academiathemes.com/foundation/testimonials/" role="menuitem" tabindex="-1">Testimonials</a></li>
</ul>
</li>
</ul></div></div>

						<div id="menu-main-slick" class="menu-main-container"><ul id="menu-slide-in" class="menu"><li id="menu-item-272" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-272"><a href="https://demo.academiathemes.com/foundation/">Home</a></li>
<li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-283"><a href="https://demo.academiathemes.com/foundation/academy/">About Academy</a>
<ul class="sub-menu">
	<li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="https://demo.academiathemes.com/foundation/academy/choose-academy/">Why Choose Academy</a></li>
	<li id="menu-item-286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286"><a href="https://demo.academiathemes.com/foundation/academy/mission-profile/">Mission and Profile</a></li>
	<li id="menu-item-284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="https://demo.academiathemes.com/foundation/academy/core-curriculum/">Core Curriculum</a></li>
	<li id="menu-item-285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a href="https://demo.academiathemes.com/foundation/academy/community-engagement/">Community engagement</a></li>
</ul>
</li>
<li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-292"><a href="https://demo.academiathemes.com/foundation/blog-archives/">Blog Archives</a>
<ul class="sub-menu">
	<li id="menu-item-277" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-277"><a href="https://demo.academiathemes.com/foundation/category/news-announcements/">News &amp; Announcements</a></li>
	<li id="menu-item-279" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-279"><a href="https://demo.academiathemes.com/foundation/category/sample-category/">Sample Category</a></li>
	<li id="menu-item-278" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-278"><a href="https://demo.academiathemes.com/foundation/category/videos/">Videos</a></li>
</ul>
</li>
<li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-293"><a href="https://demo.academiathemes.com/foundation/courses/">Courses</a>
<ul class="sub-menu">
	<li id="menu-item-274" class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-274"><a href="https://demo.academiathemes.com/foundation/course-type/postgraduate/">Postgraduate</a></li>
	<li id="menu-item-275" class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-275"><a href="https://demo.academiathemes.com/foundation/course-type/short-courses/">Short Courses</a></li>
	<li id="menu-item-276" class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-276"><a href="https://demo.academiathemes.com/foundation/course-type/undergraduate/">Undergraduate</a></li>
</ul>
</li>
<li id="menu-item-294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="https://demo.academiathemes.com/foundation/staff-directory/">Staff Directory</a></li>
<li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="https://demo.academiathemes.com/foundation/testimonials/">Testimonials</a></li>
<li id="menu-item-273" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-273"><a href="#">Events</a>
<ul class="sub-menu">
	<li id="menu-item-296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="https://demo.academiathemes.com/foundation/events-future/">Events: Future</a></li>
	<li id="menu-item-297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="https://demo.academiathemes.com/foundation/events-past-2/">Events: Past</a></li>
</ul>
</li>
<li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="https://demo.academiathemes.com/foundation/photo-gallery/">Photo Gallery</a></li>
<li id="menu-item-317" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-317"><a href="#">Page Templates</a>
<ul class="sub-menu">
	<li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://demo.academiathemes.com/foundation/blog-archives/">Blog Archives</a></li>
	<li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://demo.academiathemes.com/foundation/courses/">Courses</a></li>
	<li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="https://demo.academiathemes.com/foundation/events-future/">Events: Future</a></li>
	<li id="menu-item-327" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-327"><a href="https://demo.academiathemes.com/foundation/full-width-page/">Full Width Page</a></li>
	<li id="menu-item-328" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a href="https://demo.academiathemes.com/foundation/academy/">Page with Sub-Pages</a></li>
	<li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="https://demo.academiathemes.com/foundation/photo-gallery/">Photo Gallery</a></li>
	<li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="https://demo.academiathemes.com/foundation/staff-directory/">Staff Directory</a></li>
	<li id="menu-item-323" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-323"><a href="https://demo.academiathemes.com/foundation/testimonials/">Testimonials</a></li>
</ul>
</li>
</ul></div>
			        </div><!-- .navbar-header -->

					<nav id="site-navigation" role="navigation">

						<ul id="menu-main-menu" class="dropdown sf-js-enabled"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-272"><a href="https://demo.academiathemes.com/foundation/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-283"><a href="https://demo.academiathemes.com/foundation/academy/" class="sf-with-ul">About Academy<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="https://demo.academiathemes.com/foundation/academy/choose-academy/">Why Choose Academy</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286"><a href="https://demo.academiathemes.com/foundation/academy/mission-profile/">Mission and Profile</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="https://demo.academiathemes.com/foundation/academy/core-curriculum/">Core Curriculum</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a href="https://demo.academiathemes.com/foundation/academy/community-engagement/">Community engagement</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-292"><a href="https://demo.academiathemes.com/foundation/blog-archives/" class="sf-with-ul">Blog Archives<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-277"><a href="https://demo.academiathemes.com/foundation/category/news-announcements/">News &amp; Announcements</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-279"><a href="https://demo.academiathemes.com/foundation/category/sample-category/">Sample Category</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-278"><a href="https://demo.academiathemes.com/foundation/category/videos/">Videos</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-293"><a href="https://demo.academiathemes.com/foundation/courses/" class="sf-with-ul">Courses<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-274"><a href="https://demo.academiathemes.com/foundation/course-type/postgraduate/">Postgraduate</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-275"><a href="https://demo.academiathemes.com/foundation/course-type/short-courses/">Short Courses</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-276"><a href="https://demo.academiathemes.com/foundation/course-type/undergraduate/">Undergraduate</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="https://demo.academiathemes.com/foundation/staff-directory/">Staff Directory</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="https://demo.academiathemes.com/foundation/testimonials/">Testimonials</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-273"><a href="#" class="sf-with-ul">Events<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="https://demo.academiathemes.com/foundation/events-future/">Events: Future</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="https://demo.academiathemes.com/foundation/events-past-2/">Events: Past</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="https://demo.academiathemes.com/foundation/photo-gallery/">Photo Gallery</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-317"><a href="#" class="sf-with-ul">Page Templates<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://demo.academiathemes.com/foundation/blog-archives/">Blog Archives</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://demo.academiathemes.com/foundation/courses/">Courses</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="https://demo.academiathemes.com/foundation/events-future/">Events: Future</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-327"><a href="https://demo.academiathemes.com/foundation/full-width-page/">Full Width Page</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a href="https://demo.academiathemes.com/foundation/academy/">Page with Sub-Pages</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="https://demo.academiathemes.com/foundation/photo-gallery/">Photo Gallery</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="https://demo.academiathemes.com/foundation/staff-directory/">Staff Directory</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-323"><a href="https://demo.academiathemes.com/foundation/testimonials/">Testimonials</a></li>
</ul>
</li>
</ul>
						<div class="cleaner">&nbsp;</div>

					</nav><!-- #site-navigation -->

					<div class="cleaner">&nbsp;</div>

				</div><!-- .wrapper-menu -->

				<div class="widget academia-contacts" id="academia-widget-contacts-2"><p class="title-s title-widget">Contact Us</p>
		<ul class="academia-contacts">
			<li class="academia-contact"><img src="https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/images/x.gif" width="16" height="18" alt="" class="academia-sprite-contact academia-contact-marker"><span class="academia-contact-value">24, Lower Regent Street, Vienna</span></li><!-- .academia-contact --><li class="academia-contact"><img src="https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/images/x.gif" width="16" height="18" alt="" class="academia-sprite-contact academia-contact-phone"><span class="academia-contact-value">1-800-123-4567</span></li><!-- .academia-contact --><li class="academia-contact"><img src="https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/images/x.gif" width="16" height="18" alt="" class="academia-sprite-contact academia-contact-fax"><span class="academia-contact-value">1-800-123-7654</span></li><!-- .academia-contact --><li class="academia-contact"><img src="https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/images/x.gif" width="16" height="18" alt="" class="academia-sprite-contact academia-contact-email"><span class="academia-contact-value"><a href="mailto:apply@academiathemes.com">apply@academiathemes.com</a></span></li><!-- .academia-contact -->		</ul><!-- .academia-contacts -->

		<div class="cleaner">&nbsp;</div></div>
				<div id="footer-copy">

					<div class="wrapper-footer-copy">

												<p class="copy"></p>


						<div class="cleaner">&nbsp;</div>

					</div><!-- .wrapper .wrapper-footer-copy -->

				</div><!-- #footer-copy -->

			</div><!-- .wrapper-header -->

		</header><!-- .site-header -->

<div id="content">

	<div class="wrapper-content-main">

		<div id="main" class="layout-column-main">


<p class="title-s title-widget">Featured Posts</p>

<div id="academia-slideshow" class="flexslider">

	<ul class="academia-slides">


		<li class="academia-slide flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">

			<div class="post-cover">
				<a href="https://demo.academiathemes.com/foundation/consequatur-aut-perferendis-doloribus/"><img src="https://demo.academiathemes.com/foundation/wp-content/uploads/sites/6/2013/10/photodune-3538186-library-s1-510x300.jpg" alt="Consequatur aut perferendis doloribus" class="Thumbnail thumbnail thumb-academia-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->

			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.academiathemes.com/foundation/consequatur-aut-perferendis-doloribus/">Example of a Featured Post</a></h2>
					<p class="post-excerpt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->

		</li><!-- .slide -->

		<li class="academia-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">

			<div class="post-cover">
				<a href="https://demo.academiathemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio-dignissimos/"><img src="https://demo.academiathemes.com/foundation/wp-content/uploads/sites/6/2013/10/photodune-2545842-after-school-m-510x300.jpg" alt="At vero eos et accusamus et iusto odio dignissimos" class="Thumbnail thumbnail thumb-academia-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->

			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.academiathemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio-dignissimos/">At vero eos et accusamus et iusto odio dignissimos</a></h2>
					<p class="post-excerpt">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->

		</li><!-- .slide -->

		<li class="academia-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">

			<div class="post-cover">
				<a href="https://demo.academiathemes.com/foundation/neque-porro-quisquam-est/"><img src="https://demo.academiathemes.com/foundation/wp-content/uploads/sites/6/2013/10/photodune-2986280-lake-by-the-binnenhof-m-510x300.jpg" alt="Neque porro quisquam est" class="Thumbnail thumbnail thumb-academia-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->

			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.academiathemes.com/foundation/neque-porro-quisquam-est/">Neque porro quisquam est</a></h2>
					<p class="post-excerpt">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->

		</li><!-- .slide -->

		<li class="academia-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">

			<div class="post-cover">
				<a href="https://demo.academiathemes.com/foundation/nemo-enim-ipsam-voluptatem-quia-voluptas/"><img src="https://demo.academiathemes.com/foundation/wp-content/uploads/sites/6/2013/10/photodune-767958-smithsonian-institution-m1-510x300.jpg" alt="Nemo enim ipsam voluptatem quia voluptas" class="Thumbnail thumbnail thumb-academia-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->

			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.academiathemes.com/foundation/nemo-enim-ipsam-voluptatem-quia-voluptas/">Nemo enim ipsam voluptatem quia voluptas</a></h2>
					<p class="post-excerpt">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->

		</li><!-- .slide -->

	</ul><!-- .academia-slides -->

	<div class="cleaner">&nbsp;</div>

<ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li></ol></div><!-- #academia-slideshow -->

<script type="text/javascript">
jQuery(document).ready(function() {

	jQuery("#academia-slideshow").flexslider({
        selector: ".academia-slides > .academia-slide",
		animationLoop: true,
        initDelay: 1000,
		smoothHeight: false,
				slideshow: true,
		slideshowSpeed: 5000,
				pauseOnAction: true,
        controlNav: true,
        directionNav: false,
		useCSS: true,
		touch: false,
        animationSpeed: 500
    });

});
</script>

			<div class="widget recent-posts" id="academia-recent-posts-2"><p class="title-s title-widget">From the Blog</p><ul class="academia-posts academia-posts academia-posts-widget">
			<li class="academia-post">

				<div class="post-cover"><div class="post-cover-wrapper"><a href="https://demo.academiathemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio/" title="At vero eos et accusamus et iusto odio"><img src="https://demo.academiathemes.com/foundation/wp-content/uploads/sites/6/2013/12/timelapse-video-100x60.jpg" alt="At vero eos et accusamus et iusto odio" class="Thumbnail thumbnail thumb-loop-small " width="100" height="60"></a></div><!-- .post-cover-wrapper --></div><!-- .post-cover -->
				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.academiathemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio/" title="Permalink to At vero eos et accusamus et iusto odio">At vero eos et accusamus et iusto odio</a></h2>
										<p class="post-meta"><time datetime="2013-12-27" pubdate="">December 27, 2013</time>					<span class="category"></span></p>
										<p class="post-excerpt">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit...</p>				</div><!-- .post-content -->

				<div class="cleaner">&nbsp;</div>

			</li><!-- .academia-post -->

			<li class="academia-post">

				<div class="post-cover"><div class="post-cover-wrapper"><a href="https://demo.academiathemes.com/foundation/quis-nostrum-exercitationem-ullam-corporis/" title="Quis nostrum exercitationem ullam corporis"><img src="https://demo.academiathemes.com/foundation/wp-content/uploads/sites/6/2013/12/maxresdefault-100x60.jpg" alt="Quis nostrum exercitationem ullam corporis" class="Thumbnail thumbnail thumb-loop-small " width="100" height="60"></a></div><!-- .post-cover-wrapper --></div><!-- .post-cover -->
				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.academiathemes.com/foundation/quis-nostrum-exercitationem-ullam-corporis/" title="Permalink to Quis nostrum exercitationem ullam corporis">Quis nostrum exercitationem ullam corporis</a></h2>
										<p class="post-meta"><time datetime="2013-12-27" pubdate="">December 27, 2013</time>					<span class="category"></span></p>
										<p class="post-excerpt">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro...</p>				</div><!-- .post-content -->

				<div class="cleaner">&nbsp;</div>

			</li><!-- .academia-post -->
			</ul><!-- .academia-posts --><div class="cleaner">&nbsp;</div></div><div class="widget academia-call-to-action" id="academia-widget-call2action-2">
		<div class="academia-call2action academia-call2action-list">
			<span class="call2action-span academia-call2action-main">Talk to us about studying at University</span>			<span class="call2action-span academia-call2action-secondary">0-800-123456 or <a href="mailto:apply@example.com">apply@example.com</a></span>		</div><!-- .academia-call2action .academia-call2action-list -->

		<div class="cleaner">&nbsp;</div></div><div class="widget academia-special-posts" id="academia-featured-posts-2"><p class="title-s title-widget">Latest Video</p><ul class="academia-featured-posts">
			<li class="academia-featured-post featured-post-video">

				<div class="post-cover"><iframe width="510" height="300" src="//www.youtube-nocookie.com/embed/rPmGtZAUxNs?rel=0" frameborder="0" allowfullscreen=""></iframe></div><!-- .post-cover -->
				<div class="post-content">

					<h2 class="title-l title-post"><a href="https://demo.academiathemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio/" title="At vero eos et accusamus et iusto odio">At vero eos et accusamus et iusto odio</a></h2>
					<p class="post-excerpt">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit...</p>

				</div><!-- .post-content -->

			</li><!-- .academia-featured-post .featured-post-video -->

			</ul><!-- .academia-featured-posts -->
		<div class="cleaner">&nbsp;</div></div>
		</div><!-- #main .layout-column-main -->

		<aside class="layout-column-aside">

			<div class="widget recent-events" id="academia-recent-events-2"><p class="title-s title-widget">Upcoming Events</p><ul class="academia-posts academia-events academia-events-widget">
			<li class="academia-post academia-event">

								<div class="post-cover">

					<div class="post-cover-wrapper">

						<span class="event-date">25</span>
						<span class="event-month">Nov</span>

					</div><!-- .post-cover-wrapper -->

				</div><!-- .post-cover -->

				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.academiathemes.com/foundation/event/phasellus-viverra-nulla-ut-metus/" title="Permalink to Phasellus viverra nulla ut metus">Phasellus viverra nulla ut metus</a></h2>
					<p class="post-excerpt">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede...</p>				</div><!-- .post-excerpt -->

				<div class="cleaner">&nbsp;</div>

			</li><!-- .academia-post .academia-event -->


			<li class="academia-post academia-event">

								<div class="post-cover">

					<div class="post-cover-wrapper">

						<span class="event-date">31</span>
						<span class="event-month">Dec</span>

					</div><!-- .post-cover-wrapper -->

				</div><!-- .post-cover -->

				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.academiathemes.com/foundation/event/sed-ut-perspiciatis-unde-omnis-iste/" title="Permalink to Sed ut perspiciatis unde omnis iste">Sed ut perspiciatis unde omnis iste</a></h2>
					<p class="post-excerpt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi...</p>				</div><!-- .post-excerpt -->

				<div class="cleaner">&nbsp;</div>

			</li><!-- .academia-post .academia-event -->

			</ul><!-- .academia-posts --><div class="cleaner">&nbsp;</div></div><div class="widget academia-call-to-action" id="academia-widget-call2action-3">
		<div class="academia-call2action academia-call2action-list" style="background-color: #6da67a;">
			<span class="call2action-span academia-call2action-main">Apply today!</span>			<span class="call2action-span academia-call2action-secondary">0-800-123456 or <a href="mailto:apply@example.com">apply@example.com</a></span>		</div><!-- .academia-call2action .academia-call2action-list -->

		<div class="cleaner">&nbsp;</div></div><div class="widget academia-call-to-action" id="academia-widget-call2action-4">
		<div class="academia-call2action academia-call2action-list" style="background-color: #4a4857;">
			<span class="call2action-span academia-call2action-main">Available Courses</span>			<span class="call2action-span academia-call2action-secondary">Find out more about <a href="https://demo.academiathemes.com/foundation/courses/">our courses</a></span>		</div><!-- .academia-call2action .academia-call2action-list -->

		<div class="cleaner">&nbsp;</div></div>
			<div class="cleaner">&nbsp;</div>

		</aside><!-- .layout-column-aside -->

		<div class="cleaner">&nbsp;</div>

	</div><!-- .wrapper-content-main -->



			<div class="wrapper-footer-main">

				<footer class="site-footer">

					<div id="footer-main">

						<div class="wrapper-footer">

							<div class="layout-column-main academia-column-1">

								<div class="widget widget_text" id="text-2"><p class="title-widget">Text Widget</p>			<div class="textwidget"><p>Foundation Theme has 2 additional widget-ready areas in the Footer.</p>
<p>You can choose to disable this block and not display any widgets.</p>
<p>Here you can add any widget you like, for example a widget containing your contact details, a map, custom menus, etc.</p>
</div>
		<div class="cleaner">&nbsp;</div></div>
								<div class="cleaner">&nbsp;</div>

							</div><!-- .academia-column .academia-column-1 -->

							<div class="layout-column-aside academia-column-2">

								<div class="widget widget_nav_menu" id="nav_menu-2"><p class="title-widget">Menu Widget</p><div class="menu-secondary-container"><ul id="menu-secondary" class="menu"><li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="https://demo.academiathemes.com/foundation/admissions/">Admissions</a></li>
<li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="https://demo.academiathemes.com/foundation/current-alumni/">Current Alumni</a></li>
<li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"><a href="https://demo.academiathemes.com/foundation/future-students/">Future Students</a></li>
<li id="menu-item-300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a href="https://demo.academiathemes.com/foundation/current-students/">Current Students</a></li>
</ul></div><div class="cleaner">&nbsp;</div></div>
								<div class="cleaner">&nbsp;</div>

							</div><!-- .academia-column .academia-column-2 -->

							<div class="cleaner">&nbsp;</div>

						</div><!-- .wrapper .wrapper-footer -->

					</div><!-- #footer-main -->

				</footer><!-- .site-footer -->

			</div><!-- .wrapper-footer-main -->


		</div><!-- #content -->

		<div class="cleaner">&nbsp;</div>

	</div><!-- .wrapper .wrapper-main -->

</div><!-- #container -->

<script type="text/javascript">
/* <![CDATA[ */
var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"https:\/\/demo.academiathemes.com\/foundation\/wp-includes\/js\/thickbox\/loadingAnimation.gif"};
/* ]]> */
</script>
<script type="text/javascript" src="https://demo.academiathemes.com/foundation/wp-includes/js/thickbox/thickbox.js?ver=3.1-20121105"></script>
<script type="text/javascript" src="https://demo.academiathemes.com/foundation/wp-includes/js/wp-embed.min.js?ver=4.9.8"></script>


</body>
